name: BuildAndTest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    #environment: Release
    
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}
        
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Clean bins
      run: dotnet clean
       
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Restore dotnet tools
      run: dotnet tool restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: .NET Test
      run: dotnet test --configuration Release --no-build --no-restore --verbosity normal
    
    - name: Generate OpenAPI spec
      run: dotnet run --swagger
      if: runner.os == 'Linux'
      
    #- name: OpenAPI Test
    #  uses: stoplightio/spectral-action@v0.7.0
    #  if: runner.os == 'Linux'
